project:
  type: website
  output-dir: _site
  pre-render: curl https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/lmu-osc-custom.scss -o lmu-osc-custom.scss

website:
  title: "LMU Open Science Center"
  favicon: assets/img/lmu_osc_logo.jpg
  reader-mode: true
  search: true
  page-navigation: true
  repo-url: https://github.com/lmu-osc/lmu-osc.github.io
  repo-actions: [edit, issue]

  announcement: 
    icon: info-circle
    dismissable: true
    content: "**Thanks for visiting the LMU Open Science Center--our site is still under construction for now, but we'll be live soon!**"
    type: primary
    position: below-navbar

  navbar:
    title: false
    background: "#2b864b"
    foreground: "#fff"
    # logo: assets/img/osc_image_assets/TutorialCardCard.png
    collapse-below: lg
    tools:
      - icon: github
        href: https://github.com/lmu-osc
        aria-label: "GitHub"
    left:
      - href: index.qmd
        icon: house-door
        text: Home
      - href: about/about.qmd
        icon: info-circle
        text: About
      - text: People
        icon: people
        # href: people/overview.qmd
        menu: 
          - people/management.qmd
          - people/staff.qmd
          - people/scientific-board.qmd
          - people/advisory-board.qmd
          - people/members.qmd
          - people/fellows.qmd
          - people/alumnae.qmd
      - text: Partners
        icon: people
        menu:
          - partners/institutional_members.qmd
          - partners/local_os_intiatives.qmd
          - partners/other_lmu_support_services.qmd
          - partners/externals.qmd
          - partners/funders.qmd
      # - sidebar:training
      - icon: mortarboard
        text: Training
        href: training.qmd
#       menu:
#         - self-training.qmd
#         - train-the-trainer.qmd
#         - open-research-cycle.qmd
      - href: events/index.qmd
        icon: calendar-event
        text: Events
      - href: news.qmd
        icon: rss
        text: News
    right:
      - icon: search
        aria-label: "Search"
    
  
      
  sidebar:
    - id: training
      title: "Training"
      icon: mortarboard
      style: "docked"
      background: light
      collapse-level: 2
      contents: 
        - self-training.qmd
        - train-the-trainer.qmd
        - open-research-cycle.qmd

    - id: open-research-cycle
      title: "Open Research Cycle"
      style: "docked"
      background: light
      collapse-level: 2
      contents:
        - open-research-cycle.qmd
        - section: "Phases"
          contents:
            - open_research_cycle/01_plan_and_design.qmd
            - open_research_cycle/02_collect_and_manage.qmd
            - open_research_cycle/03_analyze_and_collaborate.qmd
            - open_research_cycle/04_preserve_and_share.qmd
  # 
  #   - id: gittutorials
  #     title: "Git Tutorials"
  #     style: "docked"
  #     background: light
  #     collapse-level: 2
  #     contents: 
  #       - qmd_one.qmd
  #       - qmd_two.qmd
  #       
  #   - id: quartotutorials
  #     title: "Quarto Tutorials"
  #     style: "docked"
  #     background: light
  #     collapse-level: 2
  #     contents: 
  #       - qmd_one.qmd
  #       - qmd_two.qmd

format:
  html:
    theme:
      - cosmo
      - lmu-osc-custom.scss
    css: 
      - https://raw.githubusercontent.com/lmu-osc/branding-resources/refs/heads/main/styles.css
      - custom-navbar.css
      - styles.css
      - footer/footer-style.css
    toc: true
    include-in-header:
      - file: matomo_analytics.html
    include-after-body:
      - file: footer/footer.html



